{
  "env": {
    "jest": true,
    "browser": true,
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "error",
  },
  "settings": {
    "react": {
      "version": "detect",
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json",
      },
    },
  },
  "ignorePatterns": ["node_modules", "storybook-static", ".storybook", "dist"],
}
